**/models/test
**/models/cartpole
**/inference_run/
**/__pycache__/

**/Gymnasium/
**/logs/
**/output/
**/videos/
videos/
ebonye_transformer_control/output_gym_full/
**/output_gym_full/
output_gym_full/
